<div class="container m-5 col-6">
    <h3 > Registeration Form </h3><br>
<form action="/action_page.php" class="was-validated">
    <div class="form-group">
        <input type="text" class="form-control" id="email" placeholder="Enter Email" name="Email" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <button type="submit" class="btn btn-success">Login</button>

</form>
</div>
