
<div class="container">
    <h1>Our Posts</h1>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="card" style="width: 18rem; gap: 10px; margin: 20px  1% ; ">
            <div class="card-body">
            <h5 class="card-title">{{ posts[0].title}}</h5>
            <p class="card-text">{{posts[0].body}}</p>
            <a href="#" class="btn btn-primary">View Post</a>
        </div>
        </div>
        <div class="card" style="width: 18rem; gap: 10px; margin: 20px  1%">
            <div class="card-body">
            <h5 class="card-title">{{ posts[1].title}}</h5>
            <p class="card-text">{{posts[1].body}}</p>
            <a href="#" class="btn btn-primary">View Post</a>
            
            </div>
        </div>
        <div class="card" style="width: 18rem; gap: 10px; margin: 20px  1%">
            <div class="card-body">
            <h5 class="card-title">{{ posts[2].title}}</h5>
            <p class="card-text">{{posts[2].body}}</p>
            <a href="#" class="btn btn-primary">View Post</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; gap: 10px; margin: 20px  1%">
            <div class="card-body">
            <h5 class="card-title">{{ posts[3].title}}</h5>
            <p class="card-text">{{posts[3].body}}</p>
            <a href="#" class="btn btn-primary">View Post</a>
            
            </div>
        </div>
        <div class="card" style="width: 18rem; gap: 10px; margin: 20px  1%">
            <div class="card-body">
            <h5 class="card-title">{{ posts[4].title}}</h5>
            <p class="card-text">{{posts[4].body}}</p>
            <a href="#" class="btn btn-primary">View Post</a>
            
            </div>
        </div>
        <div class="card" style="width: 18rem; gap: 10px; margin: 20px  1%">
            <div class="card-body">
            <h5 class="card-title">{{ posts[5].title}}</h5>
            <p class="card-text">{{posts[5].body}}</p>
            <a href="#" class="btn btn-primary">View Post</a>
            
            </div>
        </div>
        <div class="card" style="width: 18rem; gap: 10px; margin: 20px  1%">
            <div class="card-body">
            <h5 class="card-title">{{ posts[6].title}}</h5>
            <p class="card-text">{{posts[6].body}}</p>
            <a href="#" class="btn btn-primary">View Post</a>
            
            </div>
        </div>
        <div class="card" style="width: 18rem; gap: 10px; margin: 20px  1%">
            <div class="card-body">
            <h5 class="card-title">{{ posts[7].title}}</h5>
            <p class="card-text">{{posts[7].body}}</p>
            <a href="#" class="btn btn-primary">View Post</a>
            </div>
        </div> 
    </div>
    </div>

