<div class="contaner m-5">
    <h1> Description</h1>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum sed tempora a consequatur doloribus dicta eius reprehenderit aliquid, incidunt dolor placeat ab quidem repellendus vitae repellat nulla numquam dignissimos.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto reiciendis nulla repudiandae quis labore, aperiam sapiente voluptatem officiis assumenda ad eum quisquam itaque ducimus praesentium illo incidunt. Sequi, sint tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere adipisci officiis voluptatum eaque sit, sint facilis veniam soluta quisquam illum quod. Natus animi saepe deserunt atque error quas itaque debitis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sint dolores praesentium totam eius commodi sunt ea, omnis quasi illum necessitatibus. Incidunt dolorum ducimus provident assumenda ut reiciendis, labore quaerat!
    </p>   
</div>

<div class="contaner m-5">
    
    <app-product-ang></app-product-ang>
    <app-posts></app-posts>
    <app-users></app-users>
</div>

